.homeBody{
    width: 100%;
    height: 100vh;
    background-color: rgb(53, 167, 192);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    
}

.formDiv{
    border: 1px solid wheat;
    padding: 4px;
}



.miniFoodCardDiv{
    width: 95%;
}


.miniFoodCard{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem;
    /* border: 1px solid blue; */
    width: 100%;
    height: 90vh;

}