.navbarContainer{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
background-color: rgb(165, 211, 226);
height: 50px;
}

.navbarContainer li{
    display: inline;
    margin: 10px 20px;
    
    
}
.navbarContainer p{
    display: inline;
}

.navbarRightLink, .navbarLeftLink{
    text-decoration: none;
    font-size: 1.4rem;
    margin: 0 1rem;
}

.navbarLeft{
    display: flex;
    margin-left: 1rem;
}